body {
    background-image: url('../images/logo/auroraboreal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.contact-form {
    background: linear-gradient(135deg, rgba(2, 89, 57, 0.8), rgba(4, 217, 57, 0.8));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    max-width: 500px;
    color: #ffffff;
}

.contact-form h2 {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.contact-form .form-control {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.contact-form .form-control::placeholder {
    color: #cfd8dc;
}

.contact-form .btn {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
}

button {
    --primary-color: #04d939;
    --secondary-color: #fff;
    --hover-color: #025939;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.8s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    justify-content: center;
    margin: 20px auto 0 auto;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

/* Estilos para Dispositivos Maiores */
@media (min-width: 768px) {
    .contact-form {
        padding: 30px;
        margin: 20px auto;
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .contact-form {
        max-width: 600px;
    }
}
.site-footer {
    background-color: #025939;
    color: white;
    padding: 15px 0;
    text-align: center;
}