body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.category-section {
    margin-bottom: 50px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    color: #660128;
}

.product-card p {
    color: #555;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.square {
    border: 1px solid #000;
    background-color: transparent;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 15px;
    transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1);
    overflow: hidden;
    position: relative;
}

.square:hover {
    transform: scale(1.1);
}

.square img {
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.5s ease;
    border-radius: 15px;
    margin-bottom: 15%;
    position: absolute;
    transform: scale(1.1);
}

.square:hover img {
    transform: scale(1.05);
    top: -35px;
}

.img-primaria {
    z-index: 1;
    opacity: 1;
    top: 8px;
    width: 120%;
    height: 160%;
}

.img-secundaria {
    z-index: 0;
    opacity: 0;
    top: 15px;
    width: 120%;
    height: 160%;
}

.ecobag-primaria {
    z-index: 1; /* Altere o z-index para 1, para garantir que a imagem primária esteja visível no estado normal */
    opacity: 1;
    width: 110%;
    height: 120%;
}

.ecobag-secundaria {
    z-index: 0;
    opacity: 0;
    width: 110%;
    height: 120%;
}

.tenis-primario {
    z-index: 1;
    opacity: 1;
    width: 80%;
    height: 70%;
}

.tenis-secundario {
    z-index: 0;
    opacity: 0;
    width: 90%;
    height: 120%;
}

.square:hover .img-primaria {
    opacity: 0;
}

.square:hover .img-secundaria {
    opacity: 1;
    transform: scale(1.05);
}

.square:hover .ecobag-primaria {
    opacity: 0; /* Torna a imagem primária invisível no hover */
}

.square:hover .ecobag-secundaria {
    opacity: 1; /* Torna a imagem secundária visível no hover */
}

.square:hover .tenis-primario {
    opacity: 0;
}

.square:hover .tenis-secundario {
    opacity: 1;
}

@media (max-width: 768px) {
    .product-card {
        margin-bottom: 20px;
    }
}
